.appContact {

    &__content {
        display: flex;
        padding: 0 20px;

        &__left {
            width: 380px;

            &__block {
                padding-bottom: 30px;
                font-family: 'Open Sans', sans-serif;

                h6 {
                    margin-bottom: 10px;
                    font-weight: 400;
                    font-size: 0.9rem;
                    color: #fff;
                    opacity: .8;
                }

                span {
                    color: white;
                    font-weight: 500;
                }

                i {
                    color: #2196F3;
                    padding-right: 10px;
                }
            }

            &__social {
                color: #2196F3;
                margin-top: 10px;

                h5 {
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 400;
                    color: #fff;
                    font-weight: 500;
                    opacity: .8;
                    margin-bottom: 12px;
                }

                div {
                    display: flex;
                    column-gap: 15px;
                    transition: .4s;

                    span {
                        width: 35px;
                        border: 1px solid #2196F3;
                        border-radius: 50%;
                        height: 35px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;

                        i {
                            transition: .4s;
                        }

                        &:hover {
                            background-color: #2196F3;
                            transition: .4s;

                            i {
                                transform: rotateY(-360deg);
                                color: white;
                                transition: .4s;
                            }
                        }

                    }
                }


            }
        }

        &__right {
            width: 760px;
            color: #fff;
            font-family: 'Open Sans', sans-serif;
            height: 236px;

            p {
                width: 730px;
                opacity: 0.8;
                line-height: 32px;
                font-size: 1rem;
                margin-bottom: 24px;
            }

            div {
                display: flex;
                justify-content: space-between;

                div {
                    position: relative;

                    input {
                        border: none;
                        border-radius: 25px;
                        padding: 15px 12px 15px 49px;
                        border: 1px solid #444;
                        background-color: #333;
                        width: 350px;
                    }

                    i {
                        position: absolute;
                        top: 30%;
                        left: 20px;
                        color: #eee;
                        opacity: .5;
                    }
                }
            }

            div {
                position: relative;

                textarea {
                    margin-top: 25px;
                    min-width: 100%;
                    border: none;
                    border-radius: 30px;
                    border: 1px solid #444;
                    background-color: #333;
                    padding: 15px 0 0 60px;
                    height: 130px;

                    &::placeholder {
                        // padding-top: 15px;
                        // padding-left: 60px;
                        font-size: 1rem;
                    }
                }

                i {
                    position: absolute;
                    top: 45px;
                    left: 30px;
                    color: #eee;
                    opacity: .5;
                }
            }

            button {
                margin-top: 25px;
                @include buttons(#2196F3, 0, transparent, white)
            }
        }
    }

}

.app__content__top__title {

    h1 {
        span {
            margin-left: 0;
        }
    }
}



@media (max-width: 1030px) {
    .backStep {
        display: flex !important;
    }

    header {
        display: none !important;
    }

    .bodyForResponsive {
        display: grid !important;
    }

    .container {
        width: 90% !important;
    }

    .Contact {
        .appContact__content {
            justify-content: space-between;

            .appContact__content__left {
                width: fit-content !important;
            }

            .appContact__content__right {
                width: 100% !important;

                p {
                    width: 100% !important;
                }

                div {
                    flex-direction: column;

                    div {
                        margin-bottom: 20px;
                        width: 100% !important;

                        input {
                            width: 100% !important;
                        }


                    }

                    i {
                        top: 16px !important;
                    }

                }

                textarea {
                    margin-top: 0 !important;
                }
            }
        }
    }
}

@media (max-width: 765px) {
    .appContact__content {
        display: flex;
        flex-direction: column !important;
    }

}

@media (max-width: 560px) {
   
}