.Portfolio {
    width: 100%;
    background-color: #222;
    height: 100vh;


    .appPortfolio__projects {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 0.1fr));
        column-gap: 30px;
        row-gap: 30px;
        transition: .4s;
        padding-bottom: 30px;
        justify-content: center;

        &__block {
            cursor: pointer;
            width: 350px;
            position: relative;
            border-radius: 10px;

            img {
                width: 350px;
                border-radius: 5px;

            }

            span {
                display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                font-weight: 500;
                font-family: 'Poppins', sans-serif;
                font-size: 1.3rem;
            }

            height: fit-content;

            &:hover {
                span {
                    display: block;
                    z-index: 2;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #007bff;
                    border-radius: 5px;
                    z-index: 1;
                }
            }
        }
    }



}

.offcanvas {
    width: 55% !important;
    background-color: #333;

}

.offcanvas_body_content {
    width: 100%;
    padding: 0 15px;
    z-index: 3;

    &_img {
        width: 100%;
        border-radius: 5px;

        img {
            border-radius: 5px;
            width: inherit;
        }
    }

    &_top {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        span {
            font-size: 34px;
            font-weight: 600;
            margin: 0 0 22px 0;
            font-family: 'Open Sans', sans-serif;
            color: #2196F3;
        }

        .closeBtn {
            @include buttons(transparent, 1p, #2196F3, #2196F3);
            font-family: 'Poppins', sans-serif;


            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 0;
                background: #2196F3;
                z-index: -1;
                transition: .3s ease-in all;
                border-radius: 26px;
            }

            &:hover {
                cursor: pointer;
                color: white;

                &:before {
                    width: 100%;
                }
            }
        }

    }

    &_info {
        color: white;

        h6 {
            display: block;
            font-size: 15px;
            padding-bottom: 12px;
            font-weight: 500;
            font-family: "Open Sans", sans-serif;

            i {
                margin-right: 15px;
            }

            span {
                font-weight: 400;
            }
        }
    }

    button {
        @include buttons(#2196F3, 0, transparent, white);
        font-family: 'Poppins', sans-serif;
        margin-top: 10px;
    }
}

@media (max-width: 1030px) {

    .Portfolio {
        .container {
            width: 90% !important;
        }

        .appPortfolio__projects {
            display: flex;
            flex-wrap: wrap !important;
        }
    }

    .backStep {
        display: flex !important;
    }

    header {
        display: none !important;
    }

    .bodyForResponsive {
        display: grid !important;
    }
}

@media (max-width: 765px) {
    .Portfolio {
        .container {
            width: 90% !important;
        }

        .appPortfolio__projects {
            display: flex;
            flex-wrap: wrap !important;

            &__block {
                width: 100% !important;

                img {
                    width: 100% !important;
                }
            }
        }
    }

    .offcanvas_body_content {
        &_top {

            display: flex;
            align-items: center;

            span {
                font-size: 23px !important;
                margin: 0;
            }

            button {
                padding: 10px 20px !important;
                margin: 0;
            }
        }

        &_info {
            margin-top: 20px;

            h6 {
                margin-bottom: 15px;
            }
        }
    }
}

@media (max-width: 560px) {
    html {
        font-size: 14px !important;
    }

    .offcanvas_body_content {
        &_top {

            display: flex;
            align-items: flex-start;
            flex-direction: column;

            span {
                font-size: 16px !important;
                margin: 0;
            }

            button {
                padding: 10px 20px !important;
                margin-top: 10px;
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }

        &_info {
            margin-top: 20px;

            h6 {
                margin-bottom: 15px;
                font-size: 1.2rem;
            }
        }
    }

}