.colorSettings {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: white;
    position: fixed;
    right: 0;
    top: 200px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 99999;
    flex-direction: column;

    .chear {
        animation: anims 1s linear infinite;
        font-size: 20px;
        color: rgb(46, 46, 46);

        @keyframes anims {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(359deg);
            }
        }
    }
}

.active {
    display: block !important;
}

.colorSettings__content {
    width: 200px;
    height: 190px;
    background-color: white;
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
    padding: 15px;

    display: none;

    h5 {
        display: block;
        text-align: center;
        padding-bottom: 5px;
        margin-bottom: 10px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;


        border-bottom: 1px solid rgb(112, 112, 112);
    }

    button {
        @include buttons(#82b440, 0, transparent, white, 1rem);
        z-index: 5;
        position: absolute;
        bottom: 20px;
        border-radius: 5px !important;
        padding: 15px 20px;

        &:before {

            border-radius: 5px;
        }

    }

    span {
        padding-right: 8px;
    }

    #blue {
        color: #2196F3;
        font-size: 30px;
    }

    #red {
        color: #fa4f43;
        font-size: 30px;
    }

    #orange {
        color: #f35e1a;
        font-size: 30px;
    }

    #purple {
        color: #f31acf;
        font-size: 30px;
    }

    #green {
        color: #21f31a;
        font-size: 30px;
    }


}